<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helpa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.helpa.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.helpa.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helpa.activities.WalkThroughActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.helpa.activities.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="budfiesta.applaurels.com"
                    android:scheme="http"
                    />
            </intent-filter>

            </activity>
        <activity
            android:name="com.helpa.activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpa.activities.HomeActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.helpa.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.helpa.fcm.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider"/>
        </provider>

    </application>

</manifest>